@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

body {
  font-family: "Lato", sans-serif;
}

main {
  min-height: 81vh;
}

footer {
  width: 100%;
  background-color: #212529;
  color: #fff;
}

a {
  text-decoration: none;
  color: #111;
}

.btn-block {
  display: block;
  width: 100%;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
}

.carousel a {
  margin: 0 auto;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}
